@font-face {
	font-family: LoR_font;
	src: url('fonts/anirm.ttf');
}

body{
	font-family:lor_font,Constantia,Arial;
	text-align:center;
	margin:0px;
	padding:0px;
}

h1{
	margin:0px;
	margin-bottom:10px;
}

div.wrapper {
    position: relative;
    width: 800px;
    height: 500px;
    margin: auto;
}

canvas {
	position: absolute;
	top: 0;
	left: 0;
	border:1px black dotted;
}
